.fg-params {
  width: 30%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
}

.row.params-required {
  width: 70%;
  margin: auto;
  padding-top: 11px;
}

body {
  background-color: #142041;
}

